.venv/
/venv/
.cache/
.vscode/
.DS_Store
.env
**/.env
**.log
**/__pycache__/
**/__pycache__/**
**/eu-climate-wsl/**
/**/data
/**/output
/**/.output
/**/temp_download
**/node_modules/** */
**/node_modules/**
**/__pycache__**