.venv/
/venv/
.cache/
.vscode/
.DS_Store
.env
**/.env
**.log
**/__pycache__/
**/__pycache__/**
**/eu-climate-wsl/**
/**/data
/**/output
/**/.output
/**/temp_download
**.aux
**.fdb_latexmk
**.fls
**.out
**.synctex.gz
**.synctex.gz(busy)
**.synctex.gz(busy)
**.toc